<div id="questions_div">
  <p>Para votar, siga estes passos:</p>

  <p></p>

  <ol>
    <li><b>Selecione</b> suas opções preferidas.</li>
    <br />

    <li><b>Revise</b> suas opções, que são criptografadas.</li>
    <br />

    <li>
      <b>Envie</b> seu voto criptografado e autentique-se para verificar sua
      elegibilidade.
    </li>
  </ol>

  <div align="center">
    <button onclick="BOOTH.show_question(0);">Iniciar</button>
  </div>
</div>

<p>
  Você pode
  <a
    target="_new"
    href="mailto:{$T.election_metadata.help_email}?subject=help%20with%20election%20{$T.election.name}&body=I%20need%20help%20with%20election%20{$T.election.uuid}"
    >enviar um email para ajuda</a
  >.
</p>
