<form method="post" action="{% url "election@password-voter-login" election.uuid %}" onsubmit="show_waiting()">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="return_url" value="{{return_url}}" />
<input type="hidden" name="cast_ballot" value="{{cast_ballot}}" />

<div style="border: 1px solid #888; padding: 10px; max-width: 500px;">
{{password_login_form.as_p}}
{% if bad_voter_login %}
<p style="color: red;">
ID ou senha inválidos, por favor tente novamente.
</p>
{% endif %}
{% if cast_ballot == "1" %}
<input type="submit" class="button" value="authenticate &amp; cast ballot" />
<p class="small">
  Seu ID e senha podem ser encontrados no email que você recebeu.
  Se você não conseguir encontrar suas informações de login, contate o administrador da eleição em <tt>{{election.help_email}}</tt>.
</p>
<p class="small">
Você pode enviar quantas cédulas quiser. Apenas a última será contabilizada.
</p>
{% else %}
<input type="submit" class="button" value="entrar" />
{% endif %}
</form>
</div>


