{% extends TEMPLATE_BASE %}
{% block title %}Confirmar Voto{% endblock %}

{% block content %}
<h1>{{election.name}} &mdash; Voto Confirmado com Sucesso!</h1>

{% if vote_hash %}
<p>
  Seu rastreamento de voto é:<br />
    <span style="font-size:1.4em; font-weight: bold; word-break: break-word;">  {{vote_hash}}</span>
</p>
<p>
  Este rastreamento de voto matematicamente garante que seu voto será contabilizado. Você pode verificar todos os rastreamentos de voto visualizando a <a href="{% url "election@voters@list-pretty" election.uuid %}">lista de eleitores</a>, onde seu rastreamento de voto deve aparecer em alguns minutos.
</p>
{% endif %}

{% if logout %}
<p><b>Para sua segurança, você foi desconectado.</b></p>
<iframe width="0" height="0" border="0" frameborder="0" src="{% url "auth@logout" %}">
</iframe>
{% endif %}

<p style="font-size: 1.4em;">
[ <a href="{% url "election@view" election.uuid %}">voltar para a página da eleição</a> ]
</p>

{% endblock %}
