{% extends TEMPLATE_BASE %}

{% block title %}Computar Resultados &mdash; {{election.name}}{% endblock %}
{% block content %}
  <h2 class="title">{{election.name}} &mdash; Computar Resultados <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">cancelar</a>]</span></h2>

  <p>
    Você está prestes a computar os resultados desta eleição. Você só verá os resultados depois.
  </p>

  <form method="POST" action="">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    <input type="submit" class="button" value="computar os resultados!" />
  </form>

{% endblock %}
