{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Congelar Votação</h2>
<p>
Uma vez congelada, as questões, opções e tesoureiros não podem ser modificadas.<br />
</p>

<p>
{% if election.openreg %}
A inscrição para sua eleição está atualmente <b>aberta</b>, o que significa que qualquer pessoa pode votar, mesmo após você congelar o boletim.
{% else %}
A inscrição para sua eleição está atualmente <b>fechada</b>, o que significa que apenas os votantes que você designa poderão votar. Como administrador, você ainda poderá modificar essa lista de votantes à medida que a eleição progride.
{% endif %}
</p>    

{% if helios.VOTERS_EMAIL %}
<p>
Você deve congelar o boletim antes de poder entrar em contato com os votantes.
</p>
{% endif %}

{% if issues_p %}
<p>
    Antes de poder congelar a eleição, você precisará:
    <ul>
        {% for issue in issues %}
        <li>{{issue.action}}</li>
        {% endfor %}
    </ul>
    <a href="{% url "election@view" election.uuid %}">voltar para a eleição</a>
</p>
{% else %}
<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
<input class="button" type="submit" value="Congelar o boletim" />
<button onclick="document.location='{% url "election@view" election.uuid %}'; return false;">não congelar ainda</button>
</form>
{% endif %}

<br /><br />
{% endblock %}
