{% extends TEMPLATE_BASE %}

{% block title %}Cédulas Auditadas para {{election.name}}{% endblock %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Cédulas Auditadas <span style="font-size:0.7em;">[<a href="{% url "election@view" election_uuid=election.uuid %}">voltar para a eleição</a>]</span></h2>

<p>
Quando você prepara uma cédula com o Helios, você recebe imediatamente um rastreamento de voto. Antes de escolher enviar essa cédula, você tem a opção de pedir ao Helios para "quebrar" essa cédula criptografada e verificar se o Helios criptografou sua cédula corretamente. Uma vez feito isso, você pode postar essa cédula aberta aqui, na lista de cédulas auditadas, para que todos possam verificar (sua identidade não é incluída). Uma vez feito isso, você tem que re-criptografar suas escolhas e obter um rastreamento de voto diferente. Isso ajuda a reduzir a chance de alguém te forçar a votar de forma diferente do seu verdadeiro voto.
</p>

<p>
Essas cédulas não foram enviadas, e não serão contabilizadas. Elas estão aqui apenas para fins de auditoria, para verificar se o Helios está criptografando corretamente as escolhas dos eleitores.
</p>

<p>
  Para verificar uma cédula auditada, copie todo o conteúdo dela e cole no <a target="_new" href="/booth/single-ballot-verify.html?election_url={% url "election@home" election.uuid %}">verificador de cédulas únicas</a>.
</p>

{% if audited_ballots %}
<p>
Cédulas Auditadas {{offset_plus_one}} - {{offset_plus_limit}} &nbsp;&nbsp;
</p>

{% if next_after %}
<a href="?after={{next_after}}&offset={{offset_plus_limit}}">próximo {{limit}}</a> &nbsp;&nbsp;
{% endif %}

{% if offset == 0 %}
{% else %}
<a href="?">voltar para o início</a> &nbsp;&nbsp;
{% endif %}
{% if more_p %}
<a href="?after={{next_after}}&offset={{next_offset}}">próximo {{limit}}</a>
{% endif %}
<table class="pretty">
{% for b in audited_ballots %}
<tr><td><tt style="font-size: 1.4em;">{{b.vote_hash}}</tt> [<a target="_blank" href="?vote_hash={{b.vote_hash|urlencode}}">visualizar</a>]</td></tr>
{% endfor %}
</table>
{% else %}
<em>nenhuma cédula auditada ainda</em>
{% endif %}

{% endblock %}
