{% extends TEMPLATE_BASE %}
{% block title %}{{election.name}}{% endblock %}
{% block content %}
<div style="float: left; margin-right: 50px;">
  <h3 class="title">{{ election.name }}
{% if admin_p %}
{% if not election.frozen_at %}
<small><a class="small button" href="{% url "election@edit" election.uuid %}">editar</a></small>
{% endif %}
{% endif %}</h3>
<p style="padding-top:0px; margin-top:0px">
<em>{% if election.private_p %}private{%else%}public{% endif %}</em> {{ election.election_type }}{% if settings.SHOW_USER_INFO %} created by <u><b>{{election.admin.display_html_small|safe}}</b></u>{% endif %}
{% if election.is_archived %}
[archived]
{% endif %}
{% if admin_p %}
&nbsp;{% if election.is_archived %}<a class="small button" href="{% url "election@archive" election_uuid=election.uuid %}?archive_p=0">desarquivar</a>{% else %}<a class="small button" href="{% url "election@archive" election_uuid=election.uuid %}?archive_p=1">arquivar</a>{% endif %}
<a class="small button" onclick="return window.confirm('Tem certeza que deseja copiar esta eleição?');" href="{% url "election@copy" election_uuid=election.uuid %}">copiar</a>
{% endif %}
<br />
{% if admin_p %}
{% if not election.private_p %}
{% if election.featured_p %}
esta {{election.election_type}} está em destaque na página inicial.
{% if can_feature_p %}
[<a href="{% url "election@set-featured" election.uuid %}?featured_p=0">não destacar</a>]
{% endif %}
{% else %}
esta {{election.election_type}} não está em destaque na página inicial.
{% if can_feature_p %}
[<a href="{% url "election@set-featured" election.uuid %}?featured_p=1">destacar</a>]
{% endif %}
{% endif %}
{% endif %}
{% endif %}
</p>

</div>


<br />

<br clear="left" />

<div style="margin-bottom: 25px; line-height: 1.3;">
{{election.description_bleached|safe}}
</div>

<p>
{% if election.help_email and admin_p%}Endereço de email de ajuda: {{election.help_email}}<br />{% endif %}
{% if election.voting_start_at %}Início da votação em {{election.voting_start_at}}<br />{% endif %}
{% if election.voting_end_at %}Fim da votação em {{election.voting_end_at}}<br />{% endif %}
</p>

{% if election.election_info_url %}
<p style="font-size:1.5em;">[<a target="_blank" href="{{election.election_info_url}}" rel="noopener noreferrer">download candidate bios &amp; statements</a>]</p>
{% endif %}

<p align="center" style="font-size: 1.5em;">
<a href="{% url "election@questions" election.uuid %}">questões ({% if election.questions %}{{election.questions|length}}{% else %}0{% endif %})</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{% url "election@voters@list-pretty" election.uuid %}">votantes &amp; boletins</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{% url "election@trustees@view" election.uuid %}">tesoureiros ({{trustees|length}})</a>
</p>

{% if admin_p %}
{% if election.frozen_p %}
<div style="background: lightyellow; padding:5px; padding-left: 10px; margin-top: 15px; border: 1px solid #aaa; width: 720px;" class="round">
<a href="#" onclick="$('#badgebody').slideToggle(250);">Incorporar um Badge de Eleição</a>
<div id="badgebody" style="display:none;">
<br />
<form action="#">
<textarea cols="90" rows="4" wrap="soft">&lt;iframe src="{{election_badge_url}}" frameborder="0" style="border: 1px solid black" height="75" width="200"&gt;
&lt;/iframe&gt;</textarea><br />
<p style="font-size:0.8em;">adicionar este HTML ao seu site exibe um banner fino com links diretos para a votação.</p>
</form>
</div>
</div>
{% endif %}
<p>

{% if election.result_released_at %}

<!-- election complete, no next step -->

{% else %}
<b>Próximo Passo:</b>
<span style="font-size: 1.3em;">
{% if not election.frozen_at %}
{% if election.issues_before_freeze %}
{% for issue in election.issues_before_freeze %}
{{issue.action}}{% if forloop.last %}{% else %}, and{% endif %}<br />
{% endfor %}
{% else %}
<a href="{% url "election@freeze" election.uuid %}">congelar boletim e abrir eleição.</a>
<br />
{% if election.voting_starts_at %}
uma vez que você fizer isso, a eleição estará pronta para votação e será aberta automaticamente<br />
em {{election.voting_starts_at}}, conforme suas configurações.
{% else %}
uma vez que você fizer isso, a eleição será imediatamente aberta para votação.
{% endif %}
{% endif %}

{% else %}

{% if not election.encrypted_tally %}
{% if election.tallying_started_at %}
Contagem de votos está em andamento.<br />
Recarregue esta página em alguns minutos.
{% else %}
<a href="{% url "election@compute-tally" election.uuid %}">computar contagem criptografada</a><br />
Os votos criptografados serão combinados em uma contagem criptografada. Uma vez que isso for feito,<br />
os tesoureiros serão solicitados a fornecer sua parte da descriptografia.
{% endif %}
{% else %}

{% if election.result %}
<a href="{% url "election@release-result" election.uuid %}">liberar resultado</a><br />
O resultado exibido abaixo é visível apenas para você.<br />
Uma vez que você liberar o resultado, ele será visível para todos.
{% else %}

{% if election.ready_for_decryption_combination %}
<a href="{% url "election@combine-decryptions" election.uuid %}">
{% if election.num_trustees == 1 %}
computar resultados
{% else %}
combinar descriptografias dos tesoureiros e computar resultados
{% endif %}
</a><br />
{% if election.num_trustees == 1 %}
O resultado será computado e exibido apenas para você, o administrador.
{% else %}
As partes de descriptografia dos tesoureiros serão combinadas e a contagem será computada.<br />
Uma vez que você fizer isso, a contagem será visível apenas para você, o administrador.
{% endif %}
{% else %}
<a href="{% url "election@trustees@view" election.uuid %}">tesoureiros (para descriptografia)</a>
{% endif %}

{% endif %}

{% endif %}

{% endif %}
</span>

{% endif %}

</p>

{% endif %}

<br />

{% if show_result %}
{% if election.result_released_at %}
<span class="highlight-box round">
    Esta eleição está completa.
</span><br /><br /><br />
{% endif %}

<h3 class="highlight-box">Contagem</h3>
{% for question in election.pretty_result %}
<b><span style="font-size:0.8em;">Questão #{{forloop.counter}}</span><br />{{question.question}}</b><br />
<table class="pretty" style="width: auto;">
{% for answer in question.answers %}
<tr><td style="padding-right:80px;{% if answer.winner %}font-weight:bold;{% endif %}">{{answer.answer}}</td><td align="right" style="{% if answer.winner %}font-weight:bold;{% endif %}">{{answer.count}}</td></tr>
{% endfor %}
</table>
{% endfor %}

{% else %}

{% if election.voting_has_stopped %}
<span class="highlight-box round">
    Eleição fechada. O resultado será liberado em breve.
</span><br /><br />
{% else %}

{% if election.voting_has_started %}
<a class="button" href="{{test_cookie_url}}">Votar nesta {{election.election_type}} </a>
<br />
<br />
{% if election.voting_extended_until %}
Esta {{election.election_type}} estava inicialmente agendada para terminar em {{election.voting_ends_at}} (UTC),<br />
mas foi estendida até {{ election.voting_extended_until }} (UTC).
{% else %}
{% if election.voting_ends_at %}
<br />
Esta {{election.election_type}} está agendada para terminar em {{election.voting_ends_at}} (UTC).
{% else %}
Esta {{election.election_type}} termina a critério do administrador.
{% endif %}
<br />
{% endif %}

{% if election.private_p and voter %}
<br />
Esta eleição é <em>privada</em>. Você está logado como votante elegível <em>{{voter.name}}</em>.
{% endif %}

<div class="highlight-box round" style="font-size: 1.2em; margin-right: 400px; display:none;" id="nojava_message">
  Você não tem Java instalado no seu navegador.<br />Neste momento, o Helios requer Java.<br />
  Visite <a target="_new" href="http://java.sun.com">java.sun.com</a> para instalá-lo.
</div>
<br />
{% else %}
<span class="highlight-box round">
  a votação ainda não está aberta
</span> <br /><br />
{% endif %}

{% if user %}
{% if voter %}
<p style="padding-top:1px;">
  Você está registrado para votar nesta {{election.election_type}}.
{% if election.use_voter_aliases %}
Seu alias de votante é {{voter.alias}}.
{% endif %}
</p>

{% else %}
{% if election.result %}
{% else %}
{% if election.openreg %}
{% if eligible_p %}
Você é elegível para votar nesta eleição.
{% else %}
Você não é <em>elegível</em> para votar nesta {{election.election_type}}.
{% endif %}
{% else %}
Você não é <em>elegível</em> para votar nesta {{election.election_type}}.
<br />
{% endif %}
{% endif %}
{% endif %}
{% else %}

{% if election.openreg %}
{% if election.eligibility %}
Esta eleição está aberta para: {{election.pretty_eligibility|safe}}
<a href="{{settings.SECURE_URL_HOST}}{% url "auth@index" %}?return_url={{CURRENT_URL}}">Log in</a> para verificar sua elegibilidade.
{% else %}
Qualquer pessoa pode votar nesta eleição.
{% endif %}
{% endif %}

{% endif %}

{% endif %}

{% endif %}

{% if admin_p and election.voting_ends_at and not election.tallying_started_at %}
<br /><a href="{% url "election@extend" election.uuid %}">estender votação</a><br />
{% endif %}

<div style="background: lightyellow; padding:5px; padding-left: 10px; margin-top: 15px; border: 1px solid #aaa;" class="round">
<a href="#" onclick="$('#auditbody').slideToggle(250);">Informações de Auditoria</a>
<div id="auditbody" style="display:none; word-wrap: break-word;">
<br />URL da Eleição:<br />
<a href="{{election.url}}">{{election.url}}</a>

{% if election.frozen_at %}
<br />
<br />Fingerprint da Eleição:<br />
<tt style="font-size: 1.3em; font-weight: bold;">{{election.hash}}</tt>


{% if votes %}
<p>Seu rastreador de boletim:<br />
<tt style="font-size:14pt; font-weight: bold;">{{votes.0.vote_hash}}</tt>
</p>
{% endif %}

<p style="font-size: 1.3em;">
<a href="{% url "election@voters@list-pretty" election.uuid %}">Rastreador de Boletim</a> &nbsp;| &nbsp;
<a href="{% url "election@audited-ballots" election.uuid %}">Boletins Auditados</a>
</p>

{% endif %}

{% if not election.voting_has_started %}
<p style="font-size: 1.2em;">
  <br>
  <a href="{{SECURE_URL_HOST}}/booth/vote.html?election_url={% url "election@home" election.uuid %}">pré-visualizar centro de votação</a>
</p>
{% endif %}  

{% if election.voting_has_stopped %}
<p style="font-size: 1.2em;">
{% if election.result %}
verificar <a target="_blank" href="/verifier/verify.html?election_url={% url "election@home" election.uuid %}">contagem da eleição</a>.
{% endif %}

revisar o <a href="{{vote_url}}">centro de votação</a>.
</p>

{% endif %}

</div>
</div>




{% endblock %}
