{% extends TEMPLATE_BASE %}

{% block content %}

  <h2 class="title">Eleição {{election.name}} Já Apurada</h2>

  <p>
      Esta eleição já foi apurada, você não pode mais votar.
  </p>
  
  <p>
      {% if election.voting_start_at %}Início da votação em {{election.voting_start_at}}<br />{% endif %}
      {% if election.voting_end_at %}Fim da votação em {{election.voting_end_at}}<br />{% endif %}
  </p>
  
  <p>
      <a href="{% url "election@view" election.uuid %}">ver o resultado da eleição</a>
  </p>
{% endblock %}