{% extends TEMPLATE_BASE %}
{% block title %}Confirmar Voto{% endblock %}

{% block content %}
<script language="javascript">
$(document).ready(function() {
  $('#waiting_div').hide();
});

function show_waiting() {
  $('#all_forms').hide();
  $('#waiting_div').show();
}

// FIXME: set this to false once it's clear how to set it back to true
// so that it's not easy to forget to cast a ballot
var ready_to_unload = true;

window.onbeforeunload = function(evt) {
  if (ready_to_unload)
    return;

  if (typeof evt == 'undefined') {
    evt = window.event;
  }
  
  var message = "Você ainda não enviou sua cédula! Certifique-se de completar o processo de votação se você quiser que seu voto seja contabilizado.";

  if (evt) {
    evt.returnValue = message;
  }
  
  return message;
};

</script>
<h1>Não saia ainda!<br />Sua cédula ainda não foi enviada.</h1>

<div id="waiting_div">
    Verificando e Enviando sua cédula<br />
    <img src="/static/helios/loading.gif" />
</div>

<div style="word-wrap: break-word; width: 90vw;">
Seu rastreamento de voto é:<br>
<b>{{vote_fingerprint}}</b>
<br><br>
</div>

<div id="all_forms">

{% if voter %}

{% include "_castconfirm_docast.html" %}

{% else %}

{% if show_password %}
{% with cast_ballot="1" %}
{% include "_castconfirm_password.html" %}
{% endwith %}

{% else %}

{% if user %}
<h1>Desculpe!<h1>
<b>Desculpe, você é <em>
  {% if election.openreg %}
    <u>ineligível</u></em> para esta eleição.
  {% else %}
    não registrado</em> para esta eleição, e o registro está fechado.
  {% endif %}
  </b><br /></p>
<p>
    [<a href="{% url "election@view" election.uuid %}">voltar para a página da eleição</a>]
</p>
{% else %}
<p>
{% if election.openreg %}

  {% if election.eligibility %}
  {% else %}
   Esta eleição é aberta para <em>qualquer pessoa</em>, então faça login com sua conta preferida.
  {% endif %}

{% else %}
  Esta eleição é aberta apenas para <em>eleitores registrados</em>, então faça login com
  a mesma conta que você se registrou.
{% endif %}
</p>

{{login_box|safe}}

<br />
Não se preocupe, nós lembraremos sua cédula enquanto você faz login.
{% endif %}

{% endif %}
</p>
{# this closes the IF ELSE of this being password_only #}
{% endif %}

</div>

{% endblock %}
