{% extends "helios/templates/cryptobase.html" %}

{% block title %}Trustees for {{election.name}}{% endblock %}

{% block content %}
  <h3 class="title">{{election.name}} &mdash; Auditores <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">voltar para a eleição</a>]</span></h3>

<p>
    Os auditores são responsáveis por descriptografar o resultado da eleição.<br />
    Cada confiador gera um par de chaves e envia a parte pública para o Helios.<br />
    Quando for hora de descriptografar, cada confiador precisa fornecer sua chave secreta.
</p>

{% if not election.frozen_at %}

<p>
  O Helios é automaticamente seu primeiro confiador e lidará com a geração de seu par de chaves e descriptografia automaticamente.<br />
  Você pode adicionar auditores adicionais se quiser, e até mesmo remover o confiador do Helios.<br />
  No entanto, recomendamos que você faça isso apenas se tiver um entendimento sólido do papel do confiador.
</p>

{% if admin_p %}
<p>
    [ <a onclick="return(confirm('Adicionar seu próprio confiador requer um pouco mais de trabalho para computar a eleição.\nVocê precisará ter auditores gerando pares de chaves e protegendo sua chave secreta.\n\nSe você não está certo do que isso significa, nós recomendamos\nclicar em Cancelar e deixar o Helios computar a eleição para você.'));" href="{% url "election@trustees@new" election.uuid %}">adicionar um confiador</a> ]
</p>
{% if not election.has_helios_trustee %}
<p>
    <a href="{% url "election@trustees@add-helios" election.uuid %}">adicionar o Helios como confiador</a>
</p>
{% endif %}
{% endif %}

{% endif %}

{% if not trustees|length %}

{% else %}
{% for t in trustees %}
<h5> Trustee #{{forloop.counter}}: {{t.name}} 
{% if admin_p %}
{% if t.secret_key %}
{% if not election.frozen_at %}[<a onclick="return confirm('Tem certeza que deseja remover o Helios como confiador?');" href="{% url "election@trustees@delete" election.uuid %}?uuid={{t.uuid}}">x</a>]{% endif %}
{% else %}
({{t.email}})
{% if not election.frozen_at %}[<a onclick="return confirm('Tem certeza que deseja remover este confiador?');" href="{% url "election@trustees@delete" election.uuid %}?uuid={{t.uuid}}">x</a>]{% endif %}
[<a onclick="return confirm('Tem certeza que deseja enviar a URL de administração para este confiador?');" href="{% url "election@trustee@send-url" election.uuid t.uuid %}">enviar login</a>]
{% endif %}
{% endif %}
</h5>

<p>
{% if t.public_key_hash %}
  Impressão Digital da Chave Pública: <tt style="font-size:1.5em;">{{t.public_key_hash}}</tt>
{% else %}
Nenhuma chave pública carregada ainda.
{% endif %}
</p>

{% if election.encrypted_tally %}
{% if t.decryption_factors %}
<b>contagem registrada para este confiador.</b>
{% else %}
<em>aguardando a contagem deste confiador</em>
{% endif %}
{% endif %}
</li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}
