{% extends TEMPLATE_BASE %} {% block title %}Cookies are required for Helios
use{% endblock %} {% block content %}
<h2 class="title">Cookies são necessários para o uso do Helios</h2>

<p>
  Parece que seu navegador não suporta cookies ou está configurado para bloquear
  cookies deste site. O Helios precisa definir um cookie de sessão para que
  possa salvar seu voto, permitir que você faça login, etc. Ative os cookies e
  então <a href="{{retest_url}}">prossiga para preparar seu boletim</a>
</p>
<p>
  Se você continuar sendo redirecionado para esta página, provavelmente porque
  você não ativou os cookies com sucesso.
</p>
{% endblock %}
