{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Upload de Eleitores em Massa &mdash; Confirmar<span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">voltar para a eleição</a>]</span></h2>

<p>
Você carregou um arquivo de eleitores. As primeiras linhas deste arquivo são:
</p>

<table>
<tr><th>Tipo de Eleitor</th><th>Login do Eleitor</th><th>Endereço de Email</th><th>Nome</th></tr>
{% for v in voters %}
<tr><td>{{v.voter_type}}</td><td>{{v.voter_id}}</td><td>{{v.email}}</td><td>{{v.name}}</td></tr>
{% endfor %}
</table>

{% if problems %}
<p style="font-size: 1.5em;">
Aguarde:<br />
{% for problem in problems %}
- {{problem}}<br />
{% endfor %}
</p>
<br />

<a href="{% url "election@voters@upload-cancel" election.uuid %}">não importa, carregue um arquivo diferente</a>
</p>

{% else %}
<p></p>
<form method="post" action="" id="upload_form">
  Isso parece certo para você?
  <input type="hidden" name="confirm_p" value="1" />
  <input type="submit" value="Sim, vamos lá" />
</form>

<a href="{% url "election@voters@upload-cancel" election.uuid %}">não, quero carregar um arquivo diferente</a>

{% endif %}

{% endblock %}
